.input{
  grid-column: span 6;
  height: 100px;
  background-color: #E1E7EB;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
              rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
              rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  border-radius: 10px;
  color: #434B78;
  font-size: 20px;
  text-align: end;
  margin: auto;
  margin: 25px 15px 25px 15px;
  padding: 20px;
}